@import "~bootstrap/dist/css/bootstrap.css";
h1 {
    text-align:center;
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.container {
    background-color: rgb(161, 161, 161);
    border-radius: 2%; 
    width: 240px;
    height: 400px;
    padding: 5px;
}
.row{
    
}
.calc-button{
    margin-top:15px;
}
.error{
    color:red;
    border-color:red;
}